<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>

    <style>
        * {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        body {
            padding: 5%;
        }
    </style>
</head>
<body>
    <h1>This is the About Me Page</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam vitae laborum quia quod vel dolore, nobis optio ab? Eaque, suscipit quod dolorem sed vel cupiditate voluptates omnis cum ratione debitis!</p>
</body>
</html>