{% extends "base.html" %}

{% block title %}
Subscriber Information
{% endblock %}

{% block content %}

<h1>Subscription Information</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum tempore sequi laudantium, aut officiis officia
    omnis repudiandae cumque nostrum quae incidunt corporis obcaecati consectetur. Velit nesciunt tenetur perferendis.
    Ipsa, iste?</p>
<ul>
    <li>Rule 1</li>
    <li>Rule 2</li>
    <li>Rule 3</li>
    <li>Rule 4</li>
</ul>

{% endblock %}